
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>Nous suivre</h3>
            <nav class="footer-nav">
              <ul>
			    <li><a href="https://www.facebook.com/TerraYoga"><i class="fa fa-facebook-official fa-2"></i> Sur Facebook</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-sm-8">
		  
            <h3>Lieux</h3>
			<div class="col-sm-6">
			<p>
              L'Instant B<br/>
			  Centre Domino,<br/>
			  14 rue Domino,<br/>
			  74140 Douvaine<br/>
			 <a href="http://www.linstantb.fr/">http://www.linstantb.fr/</a>
            </p>
			</div>
			<div class="col-sm-6">
			<p>
			  Ciel & Zen<br/>
			  20 rue des Granges,<br/>
			  74140 Thonons les Bains<br/>
			 <a href="http://www.cieletzen.com/">http://www.cieletzen.com/</a>
            </p>         
          </div>
        </div>
		<p class="text-muted">&copy; 2015 par Terra-Yoga</p>
      </div>
    </footer>
    {{ template "chrome/scripts.html" . }}
  </body>
</html>
